
.caption {
    text-align: center;
    padding: 0 25px;
    height: 40px;
    font-size: 20px;
    font-weight: 900;
    color: black;
    line-height: 30px;
   }

.header-container {
    display: inline-flex;

}

.header-parent {
    margin: 0 auto;
    max-width: 1000px;
}